<!DOCTYPE html>
<html>
    <head>
        <style>
            h1{
                color: red;
            }
            .cl{
                color:blue;
            }
            ul{
                background-color: burlywood;
                box-sizing: border-box;
                padding: 0%;
                width: 40px;
                background-image: image();
            }
        </style>
        <title>prajjawal kumar Patel</title>
    </head>
    <body>
        <h1>prajjawal kumar patel</h1>
        <div>
            <div>
        <ul>
            <li>about</li>
            <li>story</li>
            <li>sucess</li>
            <li>education</li>
            <a href="facebook.com" >facebook</a>
        </ul>
            </div>
        </div>
    </body>
</html>